/* ===============================
   STYLE UTAMA
=============================== */
body {
  background-color: #f8f9fa;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.table td, .table th {
  vertical-align: middle;
}

/* ===============================
   NAVBAR WARNA KUNING
=============================== */
/* Navbar kuning override */
nav.navbar.custom-yellow {
  background-color: #ffcc00 !important; /* paksa kuning */
  border-bottom: 3px solid #e6b800 !important;
}

/* Warna teks */
nav.navbar.custom-yellow .navbar-brand,
nav.navbar.custom-yellow .nav-link {
  color: #333 !important;
}

nav.navbar.custom-yellow .nav-link:hover {
  color: #000 !important;
}


/* ===============================
   FOOTER
=============================== */
footer {
  background: #fff;
  border-top: 1px solid #e9ecef;
  color: #555;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
