/* assets/css/style.css */
body {
  background: #f8f9fa;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: .3px;
}

.table td, .table th {
  vertical-align: middle;
}

footer {
  background: white;
  border-top: 1px solid #e9ecef;
}
